.main {
  height: 7rem;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 1px;
  text-decoration: none;
  color: black;
  position: relative;
  margin: 0 0 5px 0;
}

.main::after {
  content: "";
  position: absolute;
  left: 50%;
  top: calc(7rem + 2px);
  width: 95%;
  height: 1px;
  transform: translateX(-50%);
  background-color: var(--thin-border-color);
  z-index: 4;
}

.image {
  height: 100%;
  aspect-ratio: 2/3;
  object-fit: contain;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}

.content h4 {
  margin: 10px 0;
}
.content p {
  margin: 10px 0;
  font-size: 0.9rem;
}
