.main {
  background-color: white;
  min-height: var(--min-content-height);
  box-sizing: border-box;
}

.contentWrapper {
  padding: 25px var(--content-wrapper-left-padding);
}

.content {
  width: var(--content-width);
  box-sizing: border-box;

  display: flex;
  gap: 30px;
  flex-direction: column;
}

.video {
  aspect-ratio: 16/9;
  width: 100%;
}

.videoDiv {
  width: var(--video-width);
  overflow: hidden;
}

.videoDiv > p {
  width: var(--video-width);
  margin: 0;
  height: 1.2rem;

  text-overflow: ellipsis;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.image {
  aspect-ratio: 1;
  width: var(--card-width);
  object-fit: cover;
  cursor: pointer;
}
