.main {
  padding-left: var(--content-wrapper-left-padding);
  background-color: var(--black-shade-color);
}

.content {
  width: var(--content-width);
  padding: 0.5rem var(--content-left-padding);
  height: 4rem;
  display: flex;
  align-items: center;
  color: white;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
}

.rightContent {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.5rem;
}

.icon {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchlist {
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.watchlist:hover {
  background-color: #ffffff14;
}

.watchlistCount {
  font-size: 0.8rem;
  background-color: var(--yellow-color);
  color: black;
  margin-left: 5px;
  border-radius: 20%;
  padding: 1px 2px;
  width: 1rem;
  display: flex;
  justify-content: center;
}

.outsideClick {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

.user {
  width: 9rem;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 2;
}

.username {
  width: 5rem;
  text-wrap: nowrap;
}

.dropdownButton {
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user:hover {
  background-color: #ffffff14;
}

.dropdown {
  width: 150px;
  border-radius: 5px;
  top: 3rem;
  right: 0;
  background-color: #121212;
  position: absolute;
  display: none;
  padding: 10px 0;
  z-index: 2;
}

.showDropdown {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
}

.item:hover {
  background-color: #ffffff14;
}

.search {
  flex-grow: 1;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.search > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  flex-grow: 1;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-size: 1.1rem;
  box-sizing: border-box;
  border: 0;
}

.searchButton {
  height: 100%;
}

.fullSearch {
  position: absolute;
  top: 0;
  left: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #121212;
  padding: 0 var(--content-left-padding);
  gap: 5px;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: none;
}

.showFullSearch {
  display: none;
}

.fullSearchInput {
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-size: 1.1rem;
  border: 0;
  width: 100%;
  height: 100%;
  padding-right: 0;
  color: white;
  background-color: #121212;
  flex-grow: 1px;
}

.fullSearchButton {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
}

.fullSearchButton:hover {
  background-color: #ffffff14;
}

@media screen and (max-width: 1350px) {
}
@media screen and (max-width: 1060px) {
  .watchlist {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .content {
    gap: 0;
  }

  .search {
    display: none;
  }

  .fullSearchButton {
    display: flex;
  }

  .showFullSearch {
    display: flex;
  }
}
