.main {
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  height: 2rem;
  padding: 0 var(--content-left-padding);
}

.title {
  margin: 0;
  width: max-content;
}

.link {
  color: var(--blue-color);
  text-decoration: none;
  width: max-content;
  height: 100%;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px 0 12px;
  border-radius: 5px;
}

.link:hover {
  background-color: rgba(36, 86, 180, 0.219);
}
